<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>写文章</title>
    <link rel="stylesheet" href="/editor/css/editormd.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .form {
            display: flex;
            justify-content: center;
            height: 500px;
            padding-top: 100px;
        }
        #commit {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 100;
            margin: 5px;
            width: 20%;
            height: 40px;
            opacity: .3;
            transition: all 0.2s linear;
        }
        #commit:hover {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div id="content-editormd" class="form-group">
        <textarea style="display:none;" class="form-control" id="content-editormd-markdown-doc" name="content-editormd-markdown-doc">{{content}}</textarea>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" id="commit">提交</button>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="form">
                    <form class="col-md-5 center-align">
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="text" class="form-control" id="title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="tag">所属标签</label>
                            <input type="text" class="form-control" id="tag"  autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="tag">内容简介</label>
                            <textarea class="form-control" rows="5" id="content_intro"></textarea>
                        </div>
                        <input type="button" class="btn btn-primary" value="提交" style="width: 100%;" id="sub"/>
                        <a href="/admin/index" class="btn btn-primary" style="width: 100%;margin-top: 20px;">返回</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/editor/editormd.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            editormd("content-editormd", {
                width   : "100%",
                height  : document.documentElement.clientHeight - 50,
                syncScrolling : "single",
                path    : "/editor/lib/",
                saveHTMLToTextarea : true,
                imageUpload : true,
                imageFormats: ["jpg","jpeg","gif","png","bmp","webp"],
                imageUploadURL: "/admin/file/uploadArticleImg",
            })
            $('#sub').on('click', function () {
                var content = $('textarea').val()
                var title = $('#title').val()
                var tag = $('#tag').val()
                var content_intro = $('#content_intro').val()
                let id = location.search
                if (content == '' || title == '' || tag == '') {
                    alert('输入不能为空')
                    return
                }
                $.ajax({
                    url: '/admin/articleAddPost',
                    type: 'post',
                    data: {
                        id: id.slice(4),
                        content: content,
                        title:title,
                        tag:tag,
                        content_intro: content_intro
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.success) {
                            alert(res.message)
                            location.href = '/admin/articleCheck?page=1'
                        } else {
                            alert(res.message)
                        }
                    }
                })
            })
        });
    </script>
</body>
</html>