<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Home</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""
    />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="/css/loginstyle.css" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>
<!-- bg effect -->
<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>
<!-- //bg effect -->
<!-- title -->
<h1>Admin Login</h1>
<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <form >
        <h2>Login Now

        </h2>
        <div class="form-style-agile">
            <label>
                <i class="fa fa-user-circle"></i>
                账号
            </label>
            <input  type="text" required="" id="username" autocomplete="off" autofocus>
        </div>
        <div class="form-style-agile">
            <label>
                <i class="fa fa-key"></i>
                密码
            </label>
            <input  type="password" required="" id="password">
        </div>
        <input value="Log In" id="login" type="button">
    </form>
</div>
<!-- //content -->


<!-- Jquery -->
<script src="/js/jquery-2.1.4.min.js"></script>
<!-- //Jquery -->

<!-- effect js -->
<script src="/js/canva_moving_effect.js"></script>
<!-- //effect js -->
<script>
    function handler () {
        var username = $('#username').val()
        var password = $('#password').val()
        $.ajax({
            url: '/admin',
            type: 'post',
            data: {
                username: username,
                password: password
            },
            dataType: 'json',
            success: function (res) {
                if (!res.valid) {
                    alert(res.message)
                } else {
                    location.href = '/admin/index'
                }
            }
        })
    }
    $(document).on('keydown' , function (e) {
        if (e.keyCode == 13) {
            handler ()
        }
    })
    $('#login').on('click' , handler)
</script>
</body>
</html>