{{extend '../layout/adminLayout.html'}}
{{block 'title'}}导航栏管理{{/block}}
{{block 'content'}}
<div>
    <div class="row">
        <div class="col-md-5">
            <h1 class="page-header">导航栏管理</h1>
            <h3>修改导航</h3>
            <br>
            <a href="/admin/navAdd" class="btn btn-primary">添加</a>
            <input class="form-control input-lg update-input" type="text" style="margin-top: 20px;margin-bottom: 20px;">
            <input class="form-control input-lg update-url" type="text" style="margin-top: 20px;margin-bottom: 20px;">
            <button type="button" class="btn btn-primary center-block" id="update" style="width: 100%;height: 50px;">
                修改
            </button>
            <div class="alert alert-success update-success fade" role="alert">修改成功</div>
            <div class="alert alert-danger update-fail fade" role="alert">修改失败</div>
        </div>
        <div class="col-md-7" style="margin-top: 65px;">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span></th>
                        <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
                        <th><span class="glyphicon glyphicon-link"></span><span class="visible-lg">路由</span></th>
                        <th></th>
                        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for (var i = 0;i < navList.length;i++) {%>
                    <tr>
                        <td data-id="<%=navList[i].id%>"><%=i%></td>
                        <td><%=navList[i].nav_name%></td>
                        <td><%=navList[i].nav_url%></td>
                        <td></td>
                        <td><a href="javascript:void(0);" class="btn btn-primary del-btn" data-id="<%=navList[i].id%>">删除</a>
                        </td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'footer'}}
<script>
    $('.del-btn').on('click', function () {
        if (confirm('你确定要删除吗？')) {
            let id = $(this).attr('data-id')
            $.ajax({
                url: '/admin/navDel?' + 'id=' + id,
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        alert(res.message)
                        location.reload()
                    } else {
                        alert(res.message)
                    }
                }
            })
        }
    })
    $('#update').on('click', function () {
        let val = $('.update-input').val()
        let url = $('.update-url').val()
        let id = location.search.slice(4)
        if (val == '' || url == '') {
            alert('输入不能为空')
            return
        }
        $.ajax({
            url: '/admin/navUpdatePost',
            type: 'post',
            data: {
                value: val,
                url: url,
                id: id
            },
            dataType: 'json',
            success: function (res) {
                console.log(res)
                if (res.success) {
                    $('.update-fail').removeClass('show').addClass('fade')
                    $('.update-success').removeClass('fade').addClass('show').html(res.message)
                    $('.update-input').val('')
                    $('.update-url').val('')
                    setTimeout(function () {
                        location.href = '/admin/nav'
                    }, 1000)
                } else {
                    $('.update-success').removeClass('show').addClass('fade')
                    $('.update-fail').removeClass('fade').addClass('show').html(res.message)
                    $('.update-url').val('')
                }
            }
        })
    })
</script>
{{/block}}

