{{extend '../layout/indexLayout.html'}}
{{block 'title'}}博客首页{{/block}}

{{block 'content'}}

<article>
    <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/about" class="n2">关于我</a>
    </h1>
    <div class="ab_box">
        <div class="leftbox">
            <div class="newsview">
                <div class="news_infos">
                    <p>
                        自从入坑前端，感觉这个坑很深啊，越来越发现要学的还有很多，现在前端技术更新越来越快，
                        有很多新的技术没有学习到, 既然走了这条路，就要坚持走下去，我相信多年后回过头来，会感谢现在努力的自己 !
                    </p>
                    <br/>
                    <h2>About my blog</h2>
                    &nbsp;
                    <p>域 名：www.fanyihui666.cn&nbsp;</p>
                    <br/>
                    <p>备案号：鄂ICP备18024239号</p>
                    <br/>
                    <p>程 序：Node.js + Koa</p>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="aboutme">
                <h2 class="hometitle">关于我</h2>
                <div class="avatar"><img src="images/avatar.jpg"></div>
                <div class="ab_con">
                    <p>网名：dancesmile | 杨青</p>
                    <p>职业：Web前端设计师、网页设计 </p>
                    <p>个人微信：yangqq_1987</p>
                    <p>邮箱：dancesmiling@qq.com</p>
                </div>
            </div>
        </div>
    </div>
</article>
{{/block}}