{{extend '../layout/indexLayout.html'}}
{{block 'title'}}博客首页{{/block}}
{{block 'style'}}
<link rel="stylesheet" href="/editor/css/editormd.css"/>
{{/block}}
{{block 'content'}}
<article style="position: relative;">
    <div class="blog">
        <div id="editormd"  class="article" >
            　<textarea style="display:none;" >{{content}}</textarea>
        </div>
    </div>
    <div class="sidebar">
        <div class="about">
            <div class="avatar"><img src="/images/avatar.jpg"></div>
            <p class="abname"></p>
            <p class="abposition"></p>
            <div class="abtext">
            </div>
        </div>
        <div class="cloud">
            <h2 class="hometitle">标签</h2>
            <ul>

            </ul>
        </div>
        <div class="links">
            <h2 class="hometitle">友情链接</h2>
            <ul>
                <li><a href="http://www.yangqq.com" title=""></a></li>
                <li><a href="http://www.yangqq.com" title=""></a></li>
                <li><a href="http://www.yangqq.com" title=""></a></li>
            </ul>
        </div>
    </div>
</article>
{{/block}}

{{block 'footer'}}
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/editor/lib/marked.min.js"></script>
    <script src="/editor/lib/prettify.min.js"></script>
    <script src="/editor/lib/raphael.min.js"></script>
    <script src="/editor/lib/underscore.min.js"></script>
    <script src="/editor/lib/sequence-diagram.min.js"></script>
    <script src="/editor/lib/flowchart.min.js"></script>
    <script src="/editor/lib/jquery.flowchart.min.js"></script>
    <script src="/editor/src/editormd.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript">
        editormd.markdownToHTML("editormd", {
            htmlDecode      : "style,script,iframe",
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true  // 默认不解析
        });
    </script>
{{/block}}

