{{extend '../layout/indexLayout.html'}}
{{block 'title'}}博客首页{{/block}}
{{block 'content'}}

<article>
    <div class="blogs animated bounceInLeft">
        <div id="SOHUCS"  ></div>
        <script type="text/javascript">
            (function(){
                var appid = 'cytTIMlXm';
                var conf = 'prod_11c46c7d28a97dd9edf009b9f1713aab';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
        </script>
    </div>
    {{include '../layout/sidebar.html'}}
</article>
<div class="toTop"
     style="width: 60px;
     height: 60px;
     background-color: rgba(0,0,0,0.5);
     position: fixed;
     bottom: 10px;
     right: 10px;
     color: #fff;
     line-height: 60px;
     padding: 5px;
     cursor: pointer;
">
    返回顶部
</div>

{{/block}}

{{block 'footer'}}
<script src="/js/common.js"></script>
<script src="/js/index.js"></script>
{{/block}}
