{{extend '../layout/indexLayout.html'}}
{{block 'title'}}博客首页{{/block}}
{{block 'content'}}
<div class="picshow animated bounceInLeft">
    <ul>
        <li><a href="/"><i><img src="images/b01.jpg"></i>
            <div class="font">
                <h3>Fun范的个人博客</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b02.jpg"></i>
            <div class="font">
                <h3>Fun范的个人博客</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b03.jpg"></i>
            <div class="font">
                <h3>Fun范的个人博客</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b04.jpg"></i>
            <div class="font">
                <h3>Fun范的个人博客</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b05.jpg"></i>
            <div class="font">
                <h3>Fun范的个人博客</h3>
            </div>
        </a></li>
    </ul>
</div>
<article>
    <div class="blogs animated bounceInLeft">
        <%for(var i = 0;i < articleList.length;i++) {%>
            <%if (articleList[i].article_check == 1) {%>
                <li><span class="blogpic"><a href="/article?id=<%=articleList[i].id%>"><img src="<%=articleList[i].article_introduce_img%>"></a></span>
                    <h3 class="blogtitle"><a href="/article?id=<%=articleList[i].id%>"><%=articleList[i].article_title%></a></h3>
                    <div class="bloginfo">
                        <p><%=articleList[i].article_introduce%>...</p>
                    </div>
                    <div class="autor"><span class="lm"><a href="/" title="<%=articleList[i].article_tags%>" target="_blank" class="classname"><%=articleList[i].article_tags%></a></span><span
                            class="dtime"><%=articleList[i].article_time%></span><span class="viewnum">(<a href="/"><%=articleList[i].article_read%></a>)</span><span
                            class="readmore"><a href="/article?id=<%=articleList[i].id%>">阅读原文</a></span></div>
                </li>
            <%}else{%>
            <%}%>
        <%}%>
    </div>
    {{include '../layout/sidebar.html'}}
</article>
<div class="toTop"
     style="width: 60px;
     height: 60px;
     background-color: rgba(0,0,0,0.5);
     position: fixed;
     bottom: 10px;
     right: 10px;
     color: #fff;
     line-height: 60px;
     padding: 5px;
     cursor: pointer;
">
    返回顶部
</div>

{{/block}}

{{block 'footer'}}
    <script src="/js/common.js"></script>
    <script src="/js/index.js"></script>
{{/block}}
