<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{block 'title'}}{{/block}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/linearicons/style.css">
    <link rel="stylesheet" href="/css/main.css">
    {{block 'style'}}{{/block}}

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/admin/index">
                <!--<img src="" alt="Klorofil Logo" class="img-responsive logo">-->
                我的小窝
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" value="" class="form-control">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">搜索</button></span>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space
                                is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9
                                unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report
                                is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting
                                in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request
                                has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/avatar/admin-avatar.jpg" class="img-circle"
                                                                                        alt="Avatar">
                            <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/userInfo"><i class="lnr lnr-user"></i> <span>个人信息</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="javascript:void(0);" id="logout"><i class="lnr lnr-exit"></i>
                                <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/admin/index" class="active"><i class="lnr lnr-home"></i> <span>主页</span></a></li>
                    <li><a href="/admin/nav" class=""><i class="lnr lnr-code"></i> <span>导航栏管理</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                            <span>文章管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="/admin/articleAdd" class="">写文章</a></li>
                                <li><a href="/admin/articleCheck" class="">审核文章</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/admin/tools" class=""><i class="fa fa-book"></i> <span>工具箱管理</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                {{block 'content'}}{{/block}}
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/klorofil-common.js"></script>
<script>
    $('#logout').on('click', function (e) {
        $.ajax({
            url: '/admin/logout',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    alert(res.message)
                    location.href = '/admin'
                } else {
                    alert(res.message)
                }
            }
        })
    })
</script>
<script>
    $(function () {
        var updateInterval = 3000;
        setInterval(function () {
            var randomVal;
            randomVal = getRandomInt(0, 100);
        }, updateInterval);

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
    });
</script>
{{block 'footer'}}{{/block}}
</body>
</html>
