<div class="sidebar animated bounceInRight">
    <div class="about">
        <div class="avatar"><img src="/images/avatar.jpg" style="width: 100px;height: 100px;"></div>
        <p class="abname"></p>
        <p class="abposition"></p>
        <div class="abtext">
        </div>
    </div>
    <div class="cloud">
        <h2 class="hometitle">标签</h2>
        <ul>

        </ul>
    </div>
    <div class="links">
        <h2 class="hometitle">前端工具箱</h2>
        <ul>
            <%for (var i = 0;i < toolsList.length;i++) {%>
                <li><a href="<%=toolsList[i].tool_url%>"><%=toolsList[i].tool_name%></a></li>
            <%}%>
        </ul>
    </div>
</div>